*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #213452;
    text-align: center;
}

.container{
      height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    cursor: pointer;
    background-color: aqua;
    border-radius: 5px;
    transition: 0.5s ease;
    font-size: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: blue;
}
#reset-game{
    padding: 1rem;
    font-size: 1.5rem;
}